/SMT 3/PBO1/ujian/NetBeansProjects/Project UAS/nbproject/private/
/SMT 3/PBO1/ujian/NetBeansProjects/ProjectUAS/nbproject/private/
/SMT 3/PBO1/ujian/NetBeansProjects/ProjectUAS/build/
/SMT 3/PBO1/ujian/NetBeansProjects/Projek UAS_Rekap Nilai Siswa_Muhammad Aufa Rijal_19040079/Aplikasi_Rekap_Nilai_Siswa/nbproject/private/
/SMT 3/PBO1/ujian/NetBeansProjects/Projek UAS_Rekap Nilai Siswa_Muhammad Aufa Rijal_19040079/aplikasi_Rekap_Nilai_Siswa/nbproject/private/
/SMT 3/PBO1/ujian/NetBeansProjects/Projek UAS_Rekap Nilai Siswa_Muhammad Aufa Rijal_19040079/aplikasi_Rekap_Nilai_Siswa/build/
/SMT 3/PBO1/ujian/NetBeansProjects/Projek UAS_Rekap Nilai Siswa_Muhammad Aufa Rijal_19040079/aplikasi_Rekap_Nilai_Siswa/dist/
/SMT 3/PBO1/ujian/NetBeansProjects/Client Management/client_Management/nbproject/private/
/SMT 3/PBO1/ujian/NetBeansProjects/Klien_Manajemen/nbproject/private/